main(class="main page__main")
  h1(class="main__title visually-hidden") Возможности программы
  include review/review
  include features/features
  include diary/diary
  include extra/extra
  include request/request