@font-face {
    font-family: "Cera Round Pro";
    src:
        url("../fonts/CeraRoundPro-Light-300.woff") format("Woff"),
        url("../fonts/CeraRoundPro-Light-300.ttf") format("TrueType");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cera Round Pro";
    src:
        url("../fonts/CeraRoundPro-Regular-400.woff") format("Woff"),
        url("../fonts/CeraRoundPro-Regular-400.ttf") format("TrueType");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cera Round Pro";
    src:
        url("../fonts/CeraRoundPro-Medium-500.woff") format("Woff"),
        url("../fonts/CeraRoundPro-Medium-500.ttf") format("TrueType");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cera Round Pro";
    src:
        url("../fonts/CeraRoundPro-Bold-700.woff") format("Woff"),
        url("../fonts/CeraRoundPro-Bold-700.ttf") format("TrueType");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Geometria";
    src:
        url("../fonts/Geometria-Medium.ttf") format("TrueType"),
        url("../fonts/Geometria-Medium.woff") format("Woff");
    font-weight: 500;
    font-style: normal;
}
