section(class="review main__section")
  div(class="container review__container")
    div(class="review__wrapper")
      picture(class="review__picture")
        source(media="(min-resolution: 144dpi), (min-resolution: 1.5dppx)" srcset="./images/mobile@2x.png 2x")
        img(class="review__image" src="./images/mobile.png" width="335" height="652" alt="Приложение Дневник здоровья на мобильном телефоне")
    div(class="review__info")
      h2(class="title review__title") Что такое «Дневник здоровья»?
      p(class="review__description") Дневник пациента — это удобный онлайн-сервис:
      ul(class="review__list")
        li(class="review__item") Вносите результаты измерений вручную или с помощью интегрированных приборов
        li(class="review__item") Ведите персональную медицинскую карту с историей ваших измерений 
        li(class="review__item") Делитесь результатами измерений со специалистами<br>для повышения эффективности лечения
        li(class="review__item") Получайте рекомендации, созданные специально для вас
      a(class="btn review__btn" href="#") Оставить заявку
