section(class="slider header__section")
  div(class="slider__item slider__item--first")
    h2(class="title slider__title slider__title--first") Расширяем возможности предоставления качественных медицинских услуг
    p(class="slider__description slider__description--first") «Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».
    a(class="btn slider__btn" href="#") Узнать больше
  div(class="slider__item slider__item--second hidden")
    h2(class="title slider__title slider__title--second") Следить за здоровьем станет 
    p(class="slider__description slider__description--second") Скоро вы сможете находиться на связи со своим лечащим врачом независимо от своего местоположения, вести дневник мониторинга самочувствия, получать рекомендации по плану лечения и многое другое.
    a(class="btn slider__btn" href="#") Узнать больше
  div(class="slider__wrapper")
    button(class="slider__toggle slider__toggle--left slider__toggle--active" aria-label="Переключиться на первый слайд")
    button(class="slider__toggle slider__toggle--right" aria-label="Переключиться на второй слайд")
  