section(class="diary main__section")
  h2(class="title diary__title") Ведите персональный дневник мониторинга здоровья
  div(class="container diary__container")
    ul(class="diary__list")
      li(class="diary__item diary__item--one") Хранение данных
        p(class="diary__text") Контролируйте и следите за динамикой изменения показателей вашего здоровья. Вносите результаты измерений медицинских показателей вручную или с помощью интегрированных приборов, храните историю измерений и отслеживайте динамику состояния здоровья
      li(class="diary__item diary__item--two") Сообшение информации врачу
        p(class="diary__text") Позвольте специалисту дистанционно следить за вашим здоровьем.<br> Будьте на связи со специалистом &ndash; отправляйте информацию о своем самочувствии, обменивайтесь сообщениями и получайте<br>рекомендации по вашему здоровью и лечению.
      li(class="diary__item diary__item--three") Напоминание о важном
        p(class="diary__text") Получайте рекомендации, созданные специально для вас.<br> Система, персонально настроенная под ваши требования,<br> автоматически напомнит о необходимости выполнить рекомендации медицинского специалиста: принять препарат или выполнить<br>измерения.
    div(class="diary__wrapper")
      picture(class="diary__picture")
          source(media="(min-resolution: 144dpi), (min-resolution: 1.5dppx)" srcset="./images/phones@2x.png 2x")
          img(class="diary__image" src="./images/phones.png" width="611" height="608" alt="Три мобильных телефона, отображающих разделы с данными, сообщениями и напоминаниями")
    
      