section(class="request main__section")
  div(class="container request__container")
    h2(class="title request__title") Получите бесплатный доступ к «Дневнику здоровья»
    p(class="request__description") Оставьте свою электронную почту<br>и вы узнаете о запуске данного сервиса первым!
    form(class="request__form" action="#" method="post")
      input(class="input request__input request__input--email" type="email" name="email" placeholder="Ваш E-mail" autofocus)
      button(class="btn request__btn" type="submit") Отправить