footer(class="footer page__footer")
  div(class="container footer__container")
    nav(class="footer__nav")
      a(class="footer__link" href="#")
        picture(class="footer__picture")
          source(media="(min-resolution: 144dpi), (min-resolution: 1.5dppx)" srcset="./images/footer-logo@2x.png 2x")
          img(class="footer__logo" src="./images/footer-logo.png" width="160" height="17" alt="Логотип компании Моё здоровье")
      ul(class="footer__list")
        li(class="footer__item")
          a(class="footer__link" href="#") О сервисе
        li(class="footer__item")
          a(class="footer__link" href="#") Функции
        li(class="footer__item")
          a(class="footer__link" href="#") Возможности
        li(class="footer__item")
          a(class="footer__link" href="#") Специалистам
        li(class="footer__item")
          a(class="footer__link" href="#") 88005004549
    div(class="footer__copyright")
      p(class="footer__text") Разработка сайта
      a(class="footer__link footer__link--pink" href="https://redsoft.ru/") Redsoft