section(class="extra main__section")
  div(class="container extra__container")
    div(class="extra__wrapper")
      picture(class="extra__picture")
        source(media="(min-resolution: 144dpi), (min-resolution: 1.5dppx)" srcset="./images/stat@2x.png 2x")
        img(class="extra__image" src="./images/stat.png" width="905" height="640" alt="Приложение Дневник здоровья на мобильном телефоне")
    div(class="extra__info")
      h2(class="title extra__title") Специалистам
      ul(class="extra__list")
        li(class="extra__item") Дистанционный контроль состояния здоровья ваших пациентов
        li(class="extra__item") Наблюдение за динамикой изменения основных<br>медицинских показателей 
        li(class="extra__item") Наличие алгоритмов автоматического анализа<br>поступающей информации
        li(class="extra__item") Индивидуальная система уведомлений об изменении<br>состояния каждого пациента
        li(class="extra__item") Дополнительный сервис коммуникации, позволяющий активно вовлекать пациента в процесс профилактики, лечения и реабилитации
