section(class="features main__section")
  div(class="container features__container")
    h2(class="title features__title") Функции приложения
    ul(class="features__list")
      li(class="features__item features__item--pills") Планирование графика<br>приема лекарств
      li(class="features__item features__item--doctor") Уведомление врача<br>об исполнении назначений 
      li(class="features__item features__item--diary") Ведение дневника<br>самочувствия
      li(class="features__item features__item--measure") Удаленное предоставление<br>измерений врачу
      li(class="features__item features__item--chat") Общение с врачами<br>через встроенный мессенджер
      li(class="features__item features__item--notice") Получение уведомлений<br>для выполнения назначений

